__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.log
.DS_Store
.idea/
.qodo
.vscode/
# 忽略 uploads 資料夾中的所有內容，但保留資料夾本身
static/uploads/*
!static/uploads/.gitkeep

# 忽略資料庫檔案
instance/*.db
!instance/.gitkeep